<a href="https://colab.research.google.com/github/renatosarda1981/Praticas-colaboratory/blob/master/LimpezaeTratamentodeDados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
from google.colab import drive

In [11]:
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [12]:
import pandas as pd
import statistics as sts
import seaborn as snr

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [70]:
dataset = pd.read_csv('/content/drive/My Drive/DataScienceUdemy/tempo.csv', sep = ';')

In [82]:
dataset

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol         85.0    85.00       FALSO   nao
1        sol         80.0    90.00  VERDADEIRO   nao
2    nublado         83.0    86.00       FALSO   sim
3      chuva         70.0    85.50       FALSO   sim
4      chuva         68.0    80.00       FALSO   sim
5      chuva         65.0    70.00  VERDADEIRO   nao
6        sol         64.0    65.00  VERDADEIRO   sim
7        sol         73.5    95.00       FALSO   nao
8        sol         69.0    70.00       FALSO   sim
9      chuva         75.0    85.25       FALSO   sim
10       sol         75.0    70.00  VERDADEIRO   sim
11   nublado         72.0    90.00  VERDADEIRO   sim
12   nublado         81.0    75.00       FALSO   sim
13     chuva         71.0    91.00  VERDADEIRO   nao

In [66]:
dataset.shape

(14, 5)

In [83]:
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        0
Vento          0
Jogar          0
dtype: int64

In [72]:
dataset['Umidade'].fillna(mediana, inplace = True)

In [73]:
dataset['Vento'].fillna('FALSO', inplace = True)

In [75]:
dataset.loc[dataset['Aparencia'] == 'menos', 'Aparencia'] = 'sol'

In [77]:
mediana = sts.median(dataset['Temperatura'])
mediana

73.5

In [78]:
dataset.loc[(dataset['Temperatura'] <-130) | (dataset['Temperatura'] > 130), 'Temperatura'] = mediana

In [80]:
mediana = sts.median(dataset['Umidade'])
mediana

85.25

In [81]:
dataset.loc[(dataset['Umidade'] < 0 ) | (dataset['Umidade'] > 100), 'Umidade'] = mediana

In [84]:
dataset.loc[(dataset['Umidade'] < 0 ) | (dataset['Umidade'] > 100)]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [85]:
dataset

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol         85.0    85.00       FALSO   nao
1        sol         80.0    90.00  VERDADEIRO   nao
2    nublado         83.0    86.00       FALSO   sim
3      chuva         70.0    85.50       FALSO   sim
4      chuva         68.0    80.00       FALSO   sim
5      chuva         65.0    70.00  VERDADEIRO   nao
6        sol         64.0    65.00  VERDADEIRO   sim
7        sol         73.5    95.00       FALSO   nao
8        sol         69.0    70.00       FALSO   sim
9      chuva         75.0    85.25       FALSO   sim
10       sol         75.0    70.00  VERDADEIRO   sim
11   nublado         72.0    90.00  VERDADEIRO   sim
12   nublado         81.0    75.00       FALSO   sim
13     chuva         71.0    91.00  VERDADEIRO   nao